.ltr-container {
    direction: ltr  !important;
    width: 390px;
    margin-left: 8px;
  }
  
  .ltr-otp-container {
    direction: ltr !important; 
    display: flex;
    justify-content: space-between;
  }
  
  .ltr-otp-input {
    direction: ltr !important;
   
  }
  @media screen and(max-width:400px){
    .ltr-container {
    
      width: 341px;
  
    }
    
  }